dubbo-jenkin/dubbo-jenkin-schema/src/main/resources/META-INF/people.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://jenkin.huawei.com/schema/people"
            elementFormDefault="qualified">
    <!--targetNamespace目标namespace链接-->
    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <xsd:element name="people" >
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType" >
                    <xsd:attribute name="name" type="xsd:string" />
                    <xsd:attribute name="age" type="xsd:int" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>